.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.about .image{
    flex: 1 1 40rem;
}

.about .image img{
    height: 60rem;
    width: 100%;
    border-radius: .9rem;
}
.about .content{
    flex: 1 1 40rem;
    margin: 2rem;
}
.about .content h3{
    font-size: 3.5rem;
    color: var(--gray);
}
.about .content p{
    font-size: 1.5rem;
    color: var(--light);
    padding: 1rem 0;
}

.teacher{
    text-align: center;
    background: url(../img/professores.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.teacher  p{
    font-size: 1.8rem;
    color: var(--gray);
    width: 65rem;
    margin-bottom: 1rem auto;
    max-width: 90%;
    text-align: center;
}
.teacher .btn{
    margin-bottom: 35rem;
}